.main {
    font-family: 'Bungee';
    text-align: center;
}
.main h1{
    margin-top: 6%;
    font-size: 48px;
}
.main svg {
    margin: 0px 9%;
    margin-top: 6%;
}
.main h4{
    margin-top: 20%;
}